
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Mapa</title>

    <link rel="stylesheet" th:href="@{/css/map.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">

</head>

<body>

<div id="header">

    <button id="menuBtn" class="menu-btn">
        ☰
    </button>

    <div id="sidebar" class="sidebar">

        <div class="sidebar-header">
            Menu
            <button id="sidebar_close">✖</button>
        </div>

        <a href="/wioska">Wioska</a>
        <a href="/attack-search">Atak</a>
        <a href="/units">Jednostki</a>
        <a href="/map">Mapa</a>
        <a href="/trade">Handel</a>
        <a href="/reports">Raporty</a>
        <a
                th:if="${!hasTribe}"
                th:href="@{/tribe/create}">
            Utwórz gildię
        </a>

        <a
                th:if="${hasTribe}"
                th:href="@{/tribe(tribeId=${tribeId})}">
            Moja gildia
        </a>
        <a href="/login">Wyloguj</a>

    </div>

    <div id="village-player-info">
        Mapa
    </div>

</div>

<button id="centerBtn">

    <img
            src="/images/units/pinezkaMap.png"
            alt="Moja wioska">

</button>

<div class="world">
    <div class="map" id="map">
        <div id="decorations"></div>
        <div id="fireflies"></div>

        <div
                th:each="v : ${villages}"
                class="village"

                th:attr="
                data-id=${v.villageId},
                data-x=${v.coordinateX},
                data-y=${v.coordinateY}"

                th:title="${v.name + ' (' + v.coordinateX + '|' + v.coordinateY + ')'}"

                th:style="'left:' + (${v.coordinateX} * 5) + 'px; top:' + (${v.coordinateY} * 5) + 'px;'">

            <a th:href="@{/wioska(id=${v.villageId})}">
                <img
                        class="village-icon"
                        th:src="@{/images/units/domekMap.png}"
                        alt="Village">
            </a>

            <span class="owner"
                  th:text="${v.player.username}">
        </span>

        </div>
        </div>

    </div>

<div id="contextMenu" class="context-menu">

    <a id="visitLink">
        🏠 Odwiedź
    </a>

    <a id="attackLink">
        ⚔ Atakuj
    </a>

    <a id="tradeLink">
        🤝 Handluj
    </a>

</div>

<script th:inline="javascript">
    const myVillageX = /*[[${myVillageX}]]*/ 0;
    const myVillageY = /*[[${myVillageY}]]*/ 0;

    const map = document.getElementById("map");

    let isDragging = false;

    let startX;
    let startY;

    let offsetX = 0;
    let offsetY = 0;



    map.style.transform =
        `translate(${offsetX}px, ${offsetY}px)`;
    document
        .querySelectorAll(".village")
        .forEach(v => v.classList.remove("my-focus"));

    document
        .querySelectorAll(".village")
        .forEach(v => {

            const x =
                Number(v.dataset.x);

            const y =
                Number(v.dataset.y);

            if(x === myVillageX &&
                y === myVillageY) {

                v.classList.add("my-focus");
            }
        });

    document.addEventListener("mousedown", e => {

        if(e.button !== 0) return;

        isDragging = true;

        startX = e.clientX - offsetX;
        startY = e.clientY - offsetY;

        document.body.style.cursor = "grabbing";
    });

    document.addEventListener("mouseup", () => {

        isDragging = false;

        document.body.style.cursor = "grab";
    });

    document.addEventListener("mousemove", e => {

        if(!isDragging) return;

        let newOffsetX =
            e.clientX - startX;

        let newOffsetY =
            e.clientY - startY;

        const mapWidth = 5000;
        const mapHeight = 5000;

        const minX =
            window.innerWidth - mapWidth;

        const minY =
            window.innerHeight - mapHeight;

        offsetX =
            Math.min(
                0,
                Math.max(minX, newOffsetX)
            );

        offsetY =
            Math.min(
                0,
                Math.max(minY, newOffsetY)
            );

        map.style.transform =
            `translate(${offsetX}px, ${offsetY}px)`;
    });

    const contextMenu =
        document.getElementById("contextMenu");

    const visitLink =
        document.getElementById("visitLink");

    const attackLink =
        document.getElementById("attackLink");

    document.querySelectorAll(".village")
        .forEach(village => {

            village.addEventListener(
                "contextmenu",
                function(e){

                    e.preventDefault();

                    const villageId =
                        this.dataset.id;

                    contextMenu.style.display =
                        "block";

                    contextMenu.style.left =
                        e.pageX + "px";

                    contextMenu.style.top =
                        e.pageY + "px";

                    visitLink.href =
                        "/wioska?id=" + villageId;

                    attackLink.href =
                        "/attack?targetVillageId=" +
                        villageId;
                    tradeLink.href =
                        "/trade/create?receiverId=" +
                        villageId;
                }
            );

        });

    document.addEventListener(
        "click",
        () => {

            contextMenu.style.display =
                "none";
        }
    );

    function generateDecorations() {

        const decorations =
            document.getElementById("decorations");

        const villages =
            document.querySelectorAll(".village");

        const occupiedPositions = [];

        function isTooClose(
            x,
            y,
            minDistance
        ) {

            for(const pos of occupiedPositions) {

                const distance =
                    Math.sqrt(
                        (x - pos.x) ** 2 +
                        (y - pos.y) ** 2
                    );

                if(distance < minDistance) {
                    return true;
                }
            }

            return false;
        }

        // =========================
// KAMIENIE
// =========================

        for(let i = 0; i < 1200; i++) {

            let x =
                Math.random() * 5000;

            let y =
                Math.random() * 5000;

            if(isTooClose(x, y, 35)) {
                continue;
            }

            const img =
                document.createElement("img");

            img.src =
                "/images/units/kamienMap.png";

            img.classList.add(
                "decoration",
                "rock"
            );

            const scale =
                0.5 + Math.random() * 0.5;

            img.style.transform =
                `scale(${scale})`;

            img.style.left =
                x + "px";

            img.style.top =
                y + "px";

            decorations.appendChild(img);

            occupiedPositions.push({
                x: x,
                y: y
            });
        }


        // =========================
        // KRZAKI
        // =========================

        for(let i = 0; i < 1500; i++) {

            let x =
                Math.random() * 5000;

            let y =
                Math.random() * 5000;

            if(isTooClose(x, y, 55)) {
                continue;
            }

            let tooCloseToVillage = false;

            villages.forEach(v => {

                const vx =
                    Number(v.dataset.x) * 5;

                const vy =
                    Number(v.dataset.y) * 5;

                const distance =
                    Math.sqrt(
                        (x - vx) ** 2 +
                        (y - vy) ** 2
                    );

                if(distance < 70) {

                    tooCloseToVillage =
                        true;
                }
            });

            if(tooCloseToVillage) {
                continue;
            }

            const img =
                document.createElement("img");

            img.src =
                Math.random() < 0.5
                    ? "/images/units/krzewMap1.png"
                    : "/images/units/krzewMap2.png";

            img.classList.add(
                "decoration",
                "bush"
            );

            const scale =
                0.7 + Math.random() * 0.5;

            img.style.transform =
                `scale(${scale})`;

            img.style.left =
                x + "px";

            img.style.top =
                y + "px";

            decorations.appendChild(img);

            occupiedPositions.push({
                x: x,
                y: y
            });
        }

        // =========================
        // DRZEWA
        // =========================

        for(let i = 0; i < 1000; i++) {

            let x;
            let y;

            let valid = false;

            let attempts = 0;

            while(
                !valid &&
                attempts < 50
                ) {

                attempts++;

                x =
                    Math.random() * 5000;

                y =
                    Math.random() * 5000;

                valid = true;

                if(
                    isTooClose(
                        x,
                        y,
                        130
                    )
                ) {

                    valid = false;
                    continue;
                }

                villages.forEach(v => {

                    const vx =
                        Number(v.dataset.x) * 5;

                    const vy =
                        Number(v.dataset.y) * 5;

                    const distance =
                        Math.sqrt(
                            (x - vx) ** 2 +
                            (y - vy) ** 2
                        );

                    if(distance < 110) {

                        valid = false;
                    }
                });
            }

            if(!valid) {
                continue;
            }

            const img =
                document.createElement("img");

            img.src =
                Math.random() < 0.5
                    ? "/images/units/drzewoMap1.png"
                    : "/images/units/drzewoMap2.png";

            img.classList.add(
                "decoration",
                "tree"
            );

            const scale =
                0.75 + Math.random() * 0.4;

            img.style.transform =
                `scale(${scale})`;

            img.style.left =
                x + "px";

            img.style.top =
                y + "px";

            decorations.appendChild(img);

            occupiedPositions.push({
                x: x,
                y: y
            });
        }
    }

    function centerOnMyVillage() {

        const myVillage =
            [...document.querySelectorAll(".village")]
                .find(v =>
                    Number(v.dataset.x) === myVillageX &&
                    Number(v.dataset.y) === myVillageY
                );

        if (!myVillage) {
            return;
        }

        const rect =
            myVillage.getBoundingClientRect();

        const villageCenterX =
            rect.left + rect.width / 2;

        const villageCenterY =
            rect.top + rect.height / 2;

        offsetX +=
            window.innerWidth / 2 - villageCenterX;

        offsetY +=
            window.innerHeight / 2 - villageCenterY;

        map.style.transform =
            `translate(${offsetX}px, ${offsetY}px)`;

        myVillage.classList.add("my-focus");

        setTimeout(() => {
            myVillage.classList.remove("my-focus");
        }, 5000);
    }

    document
        .getElementById("centerBtn")
        .addEventListener(
            "click",
            centerOnMyVillage
        );

    function generateFireflies() {

        const fireflies =
            document.getElementById("fireflies");

        for(let i = 0; i < 600; i++) {

            const dot =
                document.createElement("div");

            dot.classList.add("firefly");

            dot.style.left =
                Math.random() * 5000 + "px";

            dot.style.top =
                Math.random() * 5000 + "px";

            dot.style.animationDelay =
                Math.random() * 4 + "s";

            dot.style.animationDuration =
                (2 + Math.random() * 4) + "s";

            fireflies.appendChild(dot);
        }
    }

    generateDecorations();
    generateFireflies();

</script>

</body>

<script>

    const sidebar =
        document.getElementById("sidebar");

    document
        .getElementById("menuBtn")
        .addEventListener("click", () => {
            sidebar.classList.add("open");
        });

    document
        .getElementById("sidebar_close")
        .addEventListener("click", () => {
            sidebar.classList.remove("open");
        });

</script>

</html>
```
