<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Centrum Szkolenia</title>
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/units.css}">
</head>
<body>

<div id="header">

    <button id="menuBtn" class="menu-btn">
        ☰
    </button>

    <div id="sidebar" class="sidebar">

        <div class="sidebar-header">
            Menu
            <button id="sidebar_close">✖</button>
        </div>

        <a href="/wioska">Wioska</a>
        <a href="/attack-search">Atak</a>
        <a href="/units">Jednostki</a>
        <a href="/map">Mapa</a>
        <a href="/trade">Handel</a>
        <a href="/reports">Raporty</a>
        <a
                th:if="${!hasTribe}"
                th:href="@{/tribe/create}">
            Utwórz gildię
        </a>

        <a
                th:if="${hasTribe}"
                th:href="@{/tribe(tribeId=${tribeId})}">
            Moja gildia
        </a>
        <a href="/login">Wyloguj</a>

    </div>

    <div id="village-player-info">
        Centrum Szkolenia
    </div>

    <div class="resources-bar">

        <div class="resource">
            🪵 Drewno:
            <span id="wood"
                  th:data-value="${village.wood}"
                  th:data-rate="${woodPerHour}"
                  th:data-max="${maxStorage}"
                  th:data-last="${village.lastUpdate}"
                  th:text="${village.wood}">
            </span>
        </div>

        <div class="resource">
            🧱 Glina:
            <span id="clay"
                  th:data-value="${village.clay}"
                  th:data-rate="${clayPerHour}"
                  th:data-max="${maxStorage}"
                  th:data-last="${village.lastUpdate}"
                  th:text="${village.clay}">
            </span>
        </div>

        <div class="resource">
            ⛓️ Żelazo:
            <span id="iron"
                  th:data-value="${village.iron}"
                  th:data-rate="${ironPerHour}"
                  th:data-max="${maxStorage}"
                  th:data-last="${village.lastUpdate}"
                  th:text="${village.iron}">
            </span>
        </div>

    </div>

</div>

<h1>Centrum Szkolenia</h1>

<h2>Twoja Armia</h2>

<table>

    <tr>
        <th>Jednostka</th>
        <th>Liczba</th>
    </tr>

    <tr th:each="unit : ${units}">

        <td th:text="${unit.unitType.codeName}">
            pikinier
        </td>

        <td th:text="${unit.amount}">
            0
        </td>

    </tr>

</table>

<h2>Rekrutacja Jednostek</h2>

<table>

    <tr>
        <th>Jednostka</th>
        <th>Drewno</th>
        <th>Glina</th>
        <th>Żelazo</th>
        <th>Poziom Koszar</th>
        <th>Liczba</th>
        <th>Akcja</th>
    </tr>

    <tr>
        <td>Pikinier</td>
        <td>50</td>
        <td>30</td>
        <td>10</td>
        <td>1</td>
        <td>
            <form action="/units" method="post">
                <input type="hidden" name="unitTypeId" value="1">
                <input type="number" name="amount" value="1" min="1">
        </td>
        <td>
            <button type="submit">Rekrutuj</button>
            </form>
        </td>
    </tr>

    <tr>
        <td>Miecznik</td>
        <td>30</td>
        <td>30</td>
        <td>70</td>
        <td>10</td>
        <td>
            <form action="/units" method="post">
                <input type="hidden" name="unitTypeId" value="2">
                <input type="number" name="amount" value="1" min="1">
        </td>
        <td>
            <button type="submit">Rekrutuj</button>
            </form>
        </td>
    </tr>

    <tr>
        <td>Topornik</td>
        <td>60</td>
        <td>30</td>
        <td>40</td>
        <td>20</td>
        <td>
            <form action="/units" method="post">
                <input type="hidden" name="unitTypeId" value="3">
                <input type="number" name="amount" value="1" min="1">
        </td>
        <td>
            <button type="submit">Rekrutuj</button>
            </form>
        </td>
    </tr>

    <tr>
        <td>Łucznik</td>
        <td>80</td>
        <td>50</td>
        <td>20</td>
        <td>30</td>
        <td>
            <form action="/units" method="post">
                <input type="hidden" name="unitTypeId" value="4">
                <input type="number" name="amount" value="1" min="1">
        </td>
        <td>
            <button type="submit">Rekrutuj</button>
            </form>
        </td>
    </tr>

    <tr>
        <td>Lekka Kawaleria</td>
        <td>125</td>
        <td>100</td>
        <td>250</td>
        <td>40</td>
        <td>
            <form action="/units" method="post">
                <input type="hidden" name="unitTypeId" value="5">
                <input type="number" name="amount" value="1" min="1">
        </td>
        <td>
            <button type="submit">Rekrutuj</button>
            </form>
        </td>
    </tr>

    <tr>
        <td>Ciężka Kawaleria</td>
        <td>200</td>
        <td>150</td>
        <td>600</td>
        <td>50</td>
        <td>
            <form action="/units" method="post">
                <input type="hidden" name="unitTypeId" value="6">
                <input type="number" name="amount" value="1" min="1">
        </td>
        <td>
            <button type="submit">Rekrutuj</button>
            </form>
        </td>
    </tr>

    <tr>
        <td>Taran</td>
        <td>300</td>
        <td>250</td>
        <td>200</td>
        <td>60</td>
        <td>
            <form action="/units" method="post">
                <input type="hidden" name="unitTypeId" value="7">
                <input type="number" name="amount" value="1" min="1">
        </td>
        <td>
            <button type="submit">Rekrutuj</button>
            </form>
        </td>
    </tr>

    <tr>
        <td>Katapulta</td>
        <td>320</td>
        <td>300</td>
        <td>250</td>
        <td>70</td>
        <td>
            <form action="/units" method="post">
                <input type="hidden" name="unitTypeId" value="8">
                <input type="number" name="amount" value="1" min="1">
        </td>
        <td>
            <button type="submit">Rekrutuj</button>
            </form>
        </td>
    </tr>

</table>

<h2>Kolejka Rekrutacji</h2>

<table>

    <tr>
        <th>Jednostka</th>
        <th>Liczba</th>
        <th>Gotowe O</th>
    </tr>

    <tr th:each="q : ${queue}">

        <td th:text="${q.unitType.codeName}">
            pikinier
        </td>

        <td th:text="${q.amount}">
            0
        </td>

        <td th:text="${#temporals.format(q.finishTime, 'dd.MM.yyyy HH:mm:ss')}">
            11.06.2026 01:00:00
        </td>

    </tr>

</table>

<script>

    const sidebar =
        document.getElementById("sidebar");

    document
        .getElementById("menuBtn")
        .addEventListener("click", () => {

            sidebar.classList.add("open");
        });

    document
        .getElementById("sidebar_close")
        .addEventListener("click", () => {

            sidebar.classList.remove("open");
        });

</script>

<script>

    function createResource(id) {

        const el = document.getElementById(id);

        return {
            el: el,
            value: Number(el.dataset.value),
            rate: Number(el.dataset.rate),
            max: Number(el.dataset.max),
            last: new Date(el.dataset.last).getTime()
        };
    }

    function calculate(resource) {

        const now = Date.now();

        const elapsedSeconds =
            (now - resource.last) / 1000;

        let value =
            resource.value
            + (
                resource.rate
                * elapsedSeconds
                / 3600
            );

        if (value > resource.max) {
            value = resource.max;
        }

        return value;
    }

    function render(resource) {

        resource.el.innerText =
            Math.floor(
                calculate(resource)
            );
    }

    const wood =
        createResource("wood");

    const clay =
        createResource("clay");

    const iron =
        createResource("iron");

    setInterval(() => {

        render(wood);
        render(clay);
        render(iron);

    }, 1000);

</script>

</body>
</html>