body{
    margin:0;
    overflow:hidden;
    font-family:Georgia, serif;
}

.world{

    width:100vw;
    height:100vh;

    overflow:hidden;

    background:
            linear-gradient(
                    rgba(255,255,255,0.15),
                    rgba(255,255,255,0.15)
            ),
            #9ed58f;

    position:relative;

    cursor:grab;
}

.map{

    position:absolute;

    width:5000px;
    height:5000px;
}

.village{

    position:absolute;

    display:flex;
    flex-direction:column;
    align-items:center;

    user-select:none;

    transition:0.15s;
}

.village:hover{

    transform:scale(1.2);
}

.village a{

    text-decoration:none;

    font-size:26px;
}

.owner{

    margin-top:2px;

    font-size:12px;

    font-weight:bold;

    color:#111;

    text-shadow:
            1px 1px 2px white;
}

.context-menu{

    display:none;

    position:absolute;

    background:#ead8b0;

    border:2px solid #6d4c2f;

    border-radius:8px;

    min-width:160px;

    z-index:9999;

    box-shadow:
            0 4px 12px rgba(0,0,0,0.35);
}

.context-menu a{

    display:block;

    padding:12px;

    text-decoration:none;

    color:black;

    cursor:pointer;

    font-weight:bold;
}

.context-menu a:hover{

    background:#d6bf95;
}

.context-menu a:first-child{

    border-bottom:1px solid #b28b5c;
}
